name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install system dependencies
      run: sudo apt-get update && sudo apt-get install -y pkg-config libfontconfig1-dev
    - name: UpdateNightly
      run: rustup default nightly
    - name: Install rustfmt
      run: rustup component add rustfmt
    - name: Format
      run: cargo fmt -- --check
    - name: Build
      run: cargo build --verbose
    - name: Build examples
      run: cargo build --examples --verbose
    - name: Build docs
      run: cargo doc --no-deps --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests (nalgebra)
      run: cargo test --features nalgebra --verbose
